{{include "head.html"}}
<div class="row">
<div class="span9">
	<form method="post">
		{{XsrfFormHtml}}
	<input type="text" name="theQuestion.title"/>
	<textarea class="ckeditor" name="theQuestion.content" id="content"></textarea>
	<script>
			CKEDITOR.replace( 'content' );
		</script>
	<p>
	<input type="submit" value="发布"/>
</p>
</form>
</div>
<div class="span3 last">
	<a class="btn btn-primary btn-xlarge" href="{{.App.BasePath}}ask">我要提问</a>
</div>
</div>
<script src="{{StaticUrl "ckeditor/ckeditor.js"}}"></script>
{{include "footer.html"}}