{{include "head.html"}}
<div class="container frame">
<div class="row">
	<div class="span9">
	{{if .T.has}}
		<div class="container">
			<div class="row">
			<div class="span6">
				<span><h2>{{.Exercise.Title}}</h2></span>
					<span><img src="{{.Exercise.Creator.Avatar}}?s=16"/> {{.Exercise.Creator.LoginName}} 发布于 
	{{FormatDate .Exercise.Created "2006-01-02 03:04:05"}}
					</span>
			</div>
			<div class="span3">
			    <ul class="pager">
			    <li>
			    	<a href="{{if Eq .T.preId 0}}#{{else}}{{.App.BasePath}}exercise/?id={{.T.preId}}{{end}}">&larr; 上一题</a>
			    	</li>
			    <li>
			    	<a href="{{if Eq .T.lastId 0}}#{{else}}{{.App.BasePath}}exercise/?id={{.T.lastId}}{{end}}">下一题 &rarr;</a>
			    	</li>
			    </ul>
			</div>
		</div>
		<div class="row">
			<div class="span9">
			<div class="hero-unit text-left">
			  {{Html .Exercise.Content}}
			</div>
		</div>
		</div>
			<div class="row">
				<div class="span9" style="margin-bottom:10px">
					{{if IsLogedIn}}<a href="#">{{end}}
				{{range .T.answers}}
					<img src="{{.Creator.Avatar}}?s=16" title="{{.Creator.LoginName}}"/>
				{{end}}
				共 {{.Exercise.NumAnswers}} 人完成此题目
				{{if IsLogedIn}}{{else}}，提交您的答案后可查看其他答案{{end}}。
			{{if IsLogedIn}}</a>{{end}}
				</div>
			</div>
			
			<div class="container">
<form method="post" action="{{.App.BasePath}}exercise/sub?id={{.Exercise.Id}}">
	<textarea name="answer.content" id="code"></textarea>
	<script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      	lineNumbers:true,
        theme: "elegant",
        matchBrackets: true,
        indentUnit: 8,
        tabSize: 8,
        indentWithTabs: true,
        mode: "text/x-go"
      });
      {{if .T.hasSubmited}}
      editor.setValue('{{.T.curAnswer.Content}}')
      {{end}}
    </script>
	<p class="frame">
		<a id="btnCompile" class="btn btn-large">测试结果</a>&nbsp; &nbsp; 
		<script>
		$(function(){
			$('#btnCompile').click(function(){
				if (editor.getValue() == "") {
					$('#message').text("内容不能为空 ...")
					return
				}
				$('#btnCompile').click(function(){})
				$('#btnCompile').addClass('disabled')
				$('#btnSubmit').addClass('disabled')
				$('#message').text("compiling ...")

				$.post("{{.App.BasePath}}exercise/compile", 
					{"answer.content":editor.getValue()}, function(data, statusText, jqXHR){
						if (statusText == "success") {
							if ("errors" in data) {
								$('#message').text(data['errors']);
							} else {
								text = ""
								for (var a in data) {
									text += data[a]["Message"]+"\n"
								}
								$('#message').text(text);
							}
						} else {
							$('#message').text("request error "+statusText)
						}
						$('#btnCompile').removeClass('disabled')
						$('#btnSubmit').removeClass('disabled')
					}
				)
			});
		});
		</script>
		{{if IsLogedIn}}
		<input type="hidden" name="answer.questionId" value="{{.Exercise.Id}}"/>
		{{if .T.hasSubmited}}<input type="hidden" name="answer.id" value="{{.T.curAnswer.Id}}"/>
		{{end}}
	<input id="btnSubmit" type="submit" class="btn btn-primary btn-large" value="提交答案"/>{{end}}&nbsp; &nbsp; <span id="message" style="color:red"></span>
	</p>
</form>
		</div>
	</div>
	{{else}}
		<div class="hero-unit">
			<h2>欢迎来到每日一练</h2>
			<p>
		当前还没有任何练习呢，点击这里 <a href="{{.App.BasePath}}exercise/add">添加</a> 新的练习哦。</p>
		</div>
	{{end}}
	</div>
	<div class="span3">
		<div>
		<a href="{{.App.BasePath}}exercise/add" class="btn btn-primary btn-block">我要出题</a>
		</div>

		<div class="frame">
			<table class="table table-bordered">
			<thead><tr><td><div class="text-center"><strong>出题排行榜</strong></div></td></tr></thead>
			<tbody>
				<tr><td>
					<ul class="unstyled" style="min-height:100px;">
				{{range $idx, $user := .T.qusers}}
			<li><span class="badge badge-{{getBadge $idx}}">{{Add $idx 1}}</span>&nbsp; <img src="{{$user.Avatar}}?s=16"/>&nbsp; {{$user.LoginName}} 出题 {{$user.NumQuestions}} 道</li>
			{{end}}</ul></td></tr>
			</tbody>
		</table>
		</div>

		<div class="frame">
			<table class="table table-bordered">
			<thead><tr><td><div class="text-center"><strong>做题排行榜</strong></div></td></tr></thead>
			<tbody>
				<tr><td>
					<ul class="unstyled" style="min-height:100px;">
				{{range $idx, $user := .T.eusers}}
				<li><span class="badge badge-{{getBadge $idx}}">{{Add $idx 1}}</span>&nbsp; <img src="{{.Avatar}}?s=16"/>&nbsp; {{.LoginName}} 做题 {{.NumExercises}} 道</li>
			{{end}}</ul></td></tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
</div>
    
{{include "footer.html"}}