{{include "head.html"}}
{{$basePath := .App.BasePath}}
{{$t := .T}}
<div class="container frame">
<div class="row">
	<div class="span9">
	{{if .T.has}}
		<div class="row">
			<div class="span9">
				<div class="row">
			<div class="span6">
				<span><h3>第 {{.Exercise.Id}} 题&nbsp;  {{.Exercise.Title}}</h3></span>
					<span><img src="{{.Exercise.Creator.Avatar}}?s=16"/> {{.Exercise.Creator.LoginName}} 发布于 
	{{FormatDate .Exercise.Created "2006-01-02 03:04:05"}}
					</span>
			</div>
			<div class="span3">
			    <ul class="pager">
			    <li>
			    	<a href="{{if Eq .T.preId 0}}#{{else}}{{.App.BasePath}}exercise/?id={{.T.preId}}{{end}}">&larr; 上一题</a>
			    	</li>
			    <li>
			    	<a href="{{if Eq .T.lastId 0}}#{{else}}{{.App.BasePath}}exercise/?id={{.T.lastId}}{{end}}">下一题 &rarr;</a>
			    	</li>
			    </ul>
			</div>
		</div>
		</div>
		<div class="span9">
			<div class="hero-unit text-left">
			  {{Html .Exercise.Content}}
			</div>
		</div>
			<div class="span9">
				<div style="margin-bottom:10px;padding-left:30px;">
					{{range $t.qcomments}}
					<div style="margin-bottom:10px;">
						<img src="{{.Creator.Avatar}}?s=16"/> {{.Creator.UserName}} 发表评论于 {{FormatDate .Created "2006-01-02 03:04:05"}}
						<div style="padding:5px;border:1px dotted rgb(229, 229, 229)">
						{{.Content}}
						</div>
					</div>
					{{end}}
					{{if IsLogedIn}}
					<div style="margin-bottom:10px;">
						<a href="javascript:$('#qcomment').toggle();void(0);" class="btn">添加评论</a>
					</div>
					<div id="qcomment" style="display:none">
    				<form id="qcommentform" method="post" action="{{$basePath}}exercise/addQComment">
			    	{{XsrfFormHtml}}
			    	<input type="hidden" name="qComment.questionId" value="{{.Exercise.Id}}"/>
			    	<textarea name="qComment.content" class="span6" rows="3" placehoder="请在此输入评论"></textarea><br/>
			    	<a href="javascript:void(0);" onclick="addqcomment();" class="btn">保存</a>
			    </form>
			    <script>
			    	function addqcomment() {
							$('#qcommentform').ajaxSubmit(function() {
								alert("添加评论成功")
							});
							return false;
						}
			    </script>
			    </div>
					{{end}}
				</div>
				<div class="topsplit" style="padding-top:10px;margin-bottom:10px">
					{{if IsLogedIn}}<a id="showAnswers" href="javascript:void(0);">{{end}}
				{{range .T.answers}}
					<img src="{{.Creator.Avatar}}?s=16" title="{{.Creator.LoginName}}"/>
				{{end}}
				共 {{.Exercise.NumAnswers}} 人完成此题目
				{{if IsLogedIn}}{{else}}，提交您的答案后可查看其他答案{{end}}。
			{{if IsLogedIn}}</a>{{end}}
				</div>
				{{if IsLogedIn}}
				<div id="answers">
					<script>
								function up(obj, id) {
									url = "{{$basePath}}exercise/upAnswer?id="+id
									url = url.replace("\/", "/")
									$.get(url, '', function(data, textStatus, jqXHR){
										if (data['res'] == 1) {
											$(obj).text(parseInt($(obj).text())+1)
										} else if (data['res'] == 0) {
											alert(data['error'])
										}
									})
								}
								</script>
						{{range .T.answers}}
						<div class="topsplit">
							<div class="row">
							<div class="span1">
								<table class="table table-bordered" style="margin-top:10px;">
									<tr><td>
										<div class="text-center">
								<h4><a href="javascript:void(0);" onclick="up(this, {{.Id}});">{{.NumUps}}</a></h4>

							</div>
							</td></tr>
							</table>
							</div>
						<div class="span8">
							<img src="{{.Creator.Avatar}}?s=16"/>
							{{.Creator.LoginName}} 回答于 {{FormatDate .Created "2006-01-02 03:04:05"}}
							<div  id="a{{.Id}}">
							</div>
							{{with $x := index $t.acomments .Id}}
						{{range $x}}
						<div style="margin-bottom:10px;">
						<img src="{{.Creator.Avatar}}?s=16"/> {{.Creator.UserName}} 发表评论于 {{FormatDate .Created "2006-01-02 03:04:05"}}
						<div style="padding:5px;border:1px dotted rgb(229, 229, 229)">
						{{.Content}}
						</div>
					</div>
						{{end}}
						{{end}}
						<div style="padding-left:30px;margin-top:10px;margin-bottom:10px;">
							<a href="javascript:$('#acomment{{.Id}}').toggle();void(0);" class="btn">添加评论</a>
						</div>
						<div id="acomment{{.Id}}" style="padding-left:30px;display:none">
    <form id="acommentform{{.Id}}" method="post" action="{{$basePath}}exercise/addAComment">
    	{{XsrfFormHtml}}
    	<input type="hidden" name="aComment.answerId" value="{{.Id}}"/>
    	<textarea name="aComment.content" class="span6" rows="3" placehoder="请在此输入评论"></textarea><br/>
    	<a href="javascript:void(0);" onclick="addacomment({{.Id}});" class="btn">保存</a>
    </form>
    </div>
						</div>
					</div>
					</div>
					<script>
			    	function addacomment(id) {
							$('#acommentform'+id).ajaxSubmit(function() {
								alert("添加评论成功")
							});
							return false;
						}

						var el = CodeMirror(document.getElementById("a{{.Id}}"), {
							lineNumbers:false,
					        theme: "elegant",
					        matchBrackets: true,
					        indentUnit: 8,
					        tabSize: 8,
					        readOnly: true,
					        indentWithTabs: true,
					        mode: "text/x-go"
						});
						el.setValue('{{.Content}}')
						</script>
						{{end}}
				</div>
				{{end}}
			</div>
			<div class="span9 topsplit">
				<h4>我的回答</h4>
<form method="post" action="{{.App.BasePath}}exercise/sub?id={{.Exercise.Id}}">
	{{XsrfFormHtml}}
	<textarea name="answer.content" id="code"></textarea>
	<script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      	lineNumbers:true,
        theme: "elegant",
        matchBrackets: true,
        indentUnit: 8,
        tabSize: 8,
        indentWithTabs: true,
        mode: "text/x-go"
      });
      {{if .T.hasSubmited}}
      editor.setValue('{{.T.curAnswer.Content}}')
      {{end}}
    </script>
	<p class="frame">
		<a id="btnCompile" class="btn btn-large">测试结果</a>&nbsp; &nbsp; 
		<script>
		$(function(){
			{{if IsLogedIn}}
			$('#answers').hide()
			$('#showAnswers').click(function(){
				$('#answers').toggle()
			})
			{{end}}
			$('#btnCompile').click(function(){
				if (editor.getValue() == "") {
					$('#message').text("内容不能为空 ...")
					return
				}
				$('#btnCompile').click(function(){})
				$('#btnCompile').addClass('disabled')
				$('#btnSubmit').addClass('disabled')
				$('#message').text("compiling ...")

				$.post("{{.App.BasePath}}exercise/compile", 
					{"answer.content":editor.getValue()}, function(data, statusText, jqXHR){
						if (statusText == "success") {
							if ("errors" in data) {
								$('#message').text(data['errors']);
							} else {
								text = ""
								for (var a in data) {
									text += data[a]["Message"]+"\n"
								}
								$('#message').text(text);
							}
						} else {
							$('#message').text("request error "+statusText)
						}
						$('#btnCompile').removeClass('disabled')
						$('#btnSubmit').removeClass('disabled')
					}
				)
			});
		});
		</script>
		{{if IsLogedIn}}
		<input type="hidden" name="answer.questionId" value="{{.Exercise.Id}}"/>
		{{if .T.hasSubmited}}<input type="hidden" name="answer.id" value="{{.T.curAnswer.Id}}"/>
		{{end}}
	<input id="btnSubmit" type="submit" class="btn btn-primary btn-large" value="提交答案"/>{{end}}&nbsp; &nbsp; <span id="message" style="color:red"></span>
	</p>
</form>
		</div>
	</div>
	{{else}}
		<div class="hero-unit">
			<h2>欢迎来到每日一练</h2>
			<p>
		当前还没有任何练习呢，点击这里 <a href="{{.App.BasePath}}exercise/add">添加</a> 新的练习哦。</p>
		</div>
	{{end}}
	</div>
	<div class="span3">
		<div>
		<a href="{{.App.BasePath}}exercise/add" class="btn btn-primary btn-block">我要出题</a>
		</div>

		<div class="frame">
			<table class="table table-bordered">
			<thead><tr><td><div class="text-center"><strong>出题排行榜</strong></div></td></tr></thead>
			<tbody>
				<tr><td>
					<ul class="unstyled" style="min-height:100px;">
				{{range $idx, $user := .T.qusers}}
			<li><span class="badge badge-{{getBadge $idx}}">{{Add $idx 1}}</span>&nbsp; <img src="{{$user.Avatar}}?s=16"/>&nbsp; <a href="{{$basePath}}{{$user.LoginName}}">{{$user.LoginName}}</a> 出题 {{$user.NumQuestions}} 道</li>
			{{end}}</ul></td></tr>
			</tbody>
		</table>
		</div>

		<div class="frame">
			<table class="table table-bordered">
			<thead><tr><td><div class="text-center"><strong>做题排行榜</strong></div></td></tr></thead>
			<tbody>
				<tr><td>
					<ul class="unstyled" style="min-height:100px;">
				{{range $idx, $user := .T.eusers}}
				<li><span class="badge badge-{{getBadge $idx}}">{{Add $idx 1}}</span>&nbsp; <img src="{{.Avatar}}?s=16"/>&nbsp; <a href="{{$basePath}}{{$user.LoginName}}">{{$user.LoginName}}</a> 做题 {{.NumExercises}} 道</li>
			{{end}}</ul></td></tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
</div>
    
{{include "footer.html"}}