{{include "header.tpl"}}
        <title>Go Daily - Go语言每日一练|golang每日一练</title>
        <script src="{{StaticUrl "js/jquery.min.js"}}"></script>
        <script src="{{StaticUrl "codemirror/lib/codemirror.js"}}"></script>
        <script src="{{StaticUrl "codemirror/addon/edit/matchbrackets.js"}}"></script>
        <script src="{{StaticUrl "codemirror/mode/go/go.js"}}"></script>
        <style>.CodeMirror {
            border:1px solid #999; background:#ffc;
            height:200px;
            }
        </style>
        <style>
        .footer {
            text-align: center;
            padding: 30px 0px;
            margin-top: 70px;
            border-top: 1px solid rgb(229, 229, 229);
            background-color: rgb(245, 245, 245);
        }
        .frame {
            margin-top:30px;
        }
        .topsplit {
            border-top: 1px dotted rgb(229, 229, 229);
        }
        </style>
    </head>

    <body>
        {{include "navbar.tpl"}}
